extends layout

block content

  table#table
    tbody 
      tr
        td#one
          
        td#two
          
        td#three
          
      tr
        td#four 
        td#five
        td#six 
      tr
        td#seven 
        td#eight 
        td#nine 
        
  script(src='/javascripts/dom.js')
 
