body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


table{
  height: 500px;
  width: 500px;
}

td{
  border: 1px solid black;
  height: 100px;
  width: 100px;
  font-size: 80px;
  text-align: center;
}



#one{
border-top: none;
border-left: none;
}

#two{
  border-top: none;
}

#three{
  border-top: none;
  border-right: none;
}

#four{
  border-left: none;
}

#six{
  border-right: none;
}

#seven{
  border-left: none;
  border-bottom: none;
}

#eight{
  border-bottom: none;
}

#nine{
  border-bottom: none;
  border-right: none;
}
